.idea
build
target
src/*.egg-info
.cache
.coverage
*.egg-info
.tox
**/__pycache__
**/.ipynb_checkpoints
dist/
**/*.pyc
**.pyc
scratch*.py
.eggs
*.egg
*.iml
/target
doc/_build
doc/_static
doc/_templates
**/.DS_Store
venv/
*~
.pytest_cache/
*.swp
.docker/
codebuild_build.sh
reports
coverage_html_report
**.unison..attach*
.python-version
python-dist
poetry_script.py
poetry-installer-*
tmp
python*
