[tool.poetry]
name = "fmeval"
version = "0.2.1"
description = "Amazon Foundation Model Evaluations"
license = "Apache License 2.0"
authors = ["Amazon FMEval Team <amazon-fmeval-team@amazon.com>"]
packages = [
    { include = "fmeval", from = "src" },
]
readme = "README.md"
classifiers=[
    "Development Status :: 1 - Planning",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
]


[tool.poetry.dependencies]
python = "^3.10"
urllib3 = "1.26.18"
ray = "2.7.1"
semantic-version = "2.10.0"
pyarrow = "*"
pyfunctional = "1.4.3"
torch = ">=2.0.0, !=2.0.1, !=2.1.0"
matplotlib = "^3.8.0"
pandas = "*"
nltk = "^3.8.1"
markdown = "*"
IPython = "*"
evaluate = "^0.4.0"
rouge-score = "^0.1.2"
bert-score = "^0.3.13"
scikit-learn = "^1.3.1"
jiwer = "^3.0.3"
detoxify = "^0.5.1"
transformers = "4.22.1"
sagemaker = "^2.198.0"
testbook = "^0.4.2"
ipykernel = "^6.26.0"
boto3-stubs = {extras = ["boto3"], version = "^1.33.11"}

[tool.poetry.dev-dependencies]
fire = "*"
black = "23.7.0"
pre-commit = "3.3.3"
pytest = "*"
pytest-pspec = "*"
flake8 = "*"
mypy = "*"
lxml = "*"
coverage = "*"
commitizen = "*"
conventional-pre-commit = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
